html {height: 100%;}
body {
	padding-top: 34px;
	background: #ebebeb;
}

#preloader {width:100%;height:100%;background:white;position:absolute;z-index:999;text-align:center;padding-top:300px;font-size:16px;}

.custom-table {width: 710px;list-style: none;border: 5px solid #ebebeb; display: none;}
.centered {text-align: center;}
.grid-wrap {border-left:1px solid #ebebeb;border-right: 1px solid #ebebeb; margin: 0 auto; width: 960px; background: #fff;}
.mauto {margin: 0 auto;}
.basketcustom {display: none;}
.basketcustom h2, .basketcustom p {text-align: center; padding: 0; margin: 0 0 10px 0}
.basket-slideout {display: none;}
.custom-orders {height: 40px; width: 185px;font-size: 15px !important; line-height: 22px !important; margin: 0 auto;}

.checkout {
	position: fixed;
	top: 0;
	background: #664835;
	width: 100%;
	color: #fff;
	padding: 7px 20px;
	height: 35px;
}
.checkout .cart-box {
	padding: 0;
	margin: 0;
	font-size: 13px;
	width: 200px;
	float: left;
}
.cart-box p {
	font-size: 13px;
}
.checkout .contact-us {float: right;}
.checkout .contact-us p {font-size: 13px;}
.fa-shopping-cart {
	font-size: 18px;
}
.fa-caret-down {
	font-size: 12px;
	padding: 0 5px;
	cursor: pointer;
}
.checkout span.simpleCart_total {
	font-size: 13px;
	line-height: 12px;
	padding: 0 1px;
}
.item-added {
	display: none;
	position: fixed;
	top: 11px;
	left: 175px;
	color: #fff;
	border-radius: 1px;
	font-size: 13px;
	
}
.item-added:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #664835;
  position: absolute;
  top: -6px;
  left: 7px;
}
.shopping-cart {
	background: #664835;
	position: fixed;
	top: 47px;
	left: 15px;
	width: 183px;
	display: none;
	padding: 5px 12px 12px 12px;
	color: #fff;
	font-size: 12px;
}
.shopping-cart:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #664835;
  position: absolute;
  top: -6px;
  left: 120px;
}
.cart-header { padding-top: 5px; height: 20px;}
.close-cart {float: right;color: #fff; cursor: pointer; font-size: 13px; }
.cart-title {position: absolute;float:left;color: #fff; line-height: 10px;}
.close-cart:hover {color: #fff;}
.headerRow {
	display: none;
}
.simpleCart_items { color:#664835; margin: 7px 0; }
.simpleCart_items a {color:#664835; }
.shopping-cart .simpleCart_empty {padding-left: 3px;}
.item-name {float: left; padding-right: 5px;}
.item-price {float: left; display: none;}
.item-decrement, .item-increment {float: right;padding: 0 5px;}
.item-increment a, .item-decrement a {color:#664835;}
.item-quantity {float: right;}
.item-total {float: left; display: none;}
.item-remove {float: left;margin-top: 2px; display: none;}

.itemRow {display: inline-block; width: 100%; padding: 5px; background: #fff;}
.cart-total {padding-top: 5px; text-align: center;}
.cart-total a {color: #fff; text-decoration: underline;}
.cart-total span {padding: 0 3px;}
.custom_items_add { margin-right: 5px !important;}

.basket-slideout .simpleCart_shelfItem input {
	float: left;
}
.basket-slideout .simpleCart_shelfItem  {
	height: 40px;
	line-height: 26px;
	width: 100%;
	padding: 7px;
}
.basket-slideout .button  {
	width: auto;
	float: right;
	margin-left: 10px;
	padding: 6px;
	margin-top: 0px;
	
}
.basket-slideout .simpleCart_shelfItem input.hidden {
	width: 34px !important;
	height: 25px;
	margin-right: 6px;
}
.itemtitle {
	float: left;
	line-height: 24px;
}
.basket-slideout li.simpleCart_shelfItem:nth-child(odd) {
	background: #ebebeb;
}
.showcustom {
	padding: 10px 0;
	font-size: 20px !important;
}